!!! 5

%html
  %head
    %script{:type => "text/javascript"}
      var Game = {}
    %script{:type => "text/javascript", :src  => "world.js"}
  %body
    %h1 Buildings

    #building_list

    %h1 Resources

    #resource_list

    %h1 Technologies

    #tech_list
